{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINTING-NFT</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'html5-qrcode.min.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>

    <style>
        form {
            background: url("{% static 'images/NFT.png' %}") no-repeat center center;
            background-size: cover;
        }
    </style>
</head>
<body>
    <!-- Formulaire principal pour les informations de l'étudiant -->
    <form id="student-info-form" method="post"  action="{% url 'generate_nft' %}" target="_blank">
        {% csrf_token %}
        <fieldset>
            <legend>IDENTITE DE L'ETUDIANT</legend>
            <p>Veuillez remplir en lettres capitales (majuscule)</p>
            <br>
            <label for="student-name">Nom et Prénom(s) :</label>
            <input type="text" id="student-name" name="student-name" placeholder="JOHN DOE" required><br>
            <label for="university">Université :</label>
            <input type="text" id="university" name="university" required><br>
            <label for="uniteFormation">UFR :</label>
            <select id="uniteFormation" name="uniteFormation" required>
                <option value="" disabled selected>-- Sélectionnez votre parcours --</option>
                <option value="sciences-du-numerique">PROGRAMME SCIENCES DU NUMERIQUE</option>
                <option value="sciences-fondamentales">PROGRAMME SCIENCES FONDAMENTALES</option>
                <option value="sciences-transversales">PROGRAMME TRANSVERSALES</option>
            </select><br>
            <label for="filiere">Filière :</label>
            <select id="filiere" name="filiere" required>
                <option value="" disabled selected>-- Sélectionnez votre parcours --</option>
                <option value="genie-logiciel">LICENCE GENIE LOGICIEL</option>
                <option value="chimie">LICENCE CHIMIE</option>
                <option value="svt">LICENCE SVT/AGRO-ALIMENTAIRE</option>
            </select><br>
            <label for="niveau">Niveau :</label>
            <select id="niveau" name="niveau" required>
                <option value="" disabled selected>-- Sélectionnez votre niveau --</option>
                <option value="licence1">Licence 1</option>
                <option value="licence2">Licence 2</option>
                <option value="licence3">Licence 3</option>
            </select><br>
            <label for="qr-code">SCAN DE LA CARTE ETUDIANT :</label>
            <div style="width: 500px" id="reader"></div><br>
           <!-- <button type="submit" id="submit-button">Soumettre</button> -->
           <button type="submit">CLIQUEZ ICI POUR GENERER UN NFT</button>
            <button type="reset" id="reset-button">Annuler</button>
        </fieldset>
    </form>

    <!-- Deuxième formulaire pour la génération du NFT, caché par défaut -->
   <!-- <form id="studentNFT-form" style="display:none;" method="post" action="{% url 'generate_nft' %}" target="_blank">
        {% csrf_token %}
        <fieldset>
            <legend>Génération-Émission du NFT</legend>
            <label for="verify-name">Nom :</label>
            <input type="text" id="verify-name" name="verify-name" required><br><br>
            <label for="verify-prenom">Prénom :</label>
            <input type="text" id="verify-prenom" name="verify-prenom" required><br><br>
            <label for="verify-ine">Numéro INE :</label>
            <input type="text" id="verify-ine" name="verify-ine" required><br><br>
            <label for="wallet-address">Adresse Wallet:</label>
            <input type="text" id="wallet-address" name="wallet-address" required><br><br>
            <button type="submit">CLIQUEZ ICI POUR GENERER UN NFT</button>
        </fieldset>
    </form> -->

    <script>
        // Initialiser le scanner de code QR
        var html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: 10, qrbox: 250 });
        var qrCodeScannerInstance;

        function onScanSuccess(decodedText) {
            console.log(`Code QR scanné: ${decodedText}`);
            alert('Les informations sont correctes !');
            //document.getElementById('studentNFT-form').style.display = 'block';
           // document.getElementById('studentNFT-form').target = "_blank"; // Assure que le form s'ouvre dans un nouvel onglet

            // Arrêter le scanner de QR code
            qrCodeScannerInstance.clear().then(_ => {
                console.log("Scanner arrêté avec succès.");
            }).catch(error => {
                console.error("Échec de l'arrêt du scanner : ", error);
            });
        }

        // Initialiser le scanner de QR code et sauvegarder l'instance
        html5QrcodeScanner.render(onScanSuccess).then(instance => {
            qrCodeScannerInstance = instance;
        }).catch(error => {
            console.error("Erreur lors de l'initialisation du scanner : ", error);
        });
    </script>
</body>
</html>
